.card {
  width: 400px;
  padding-bottom: 25px;
  max-height: 750px;
  transition: max-height 1s;

  &.card_loading {
    max-height: 360px;
  }

  .avatar {
    background-color: red;
  }

  .loading {
    display: block;
    margin: 150px auto;
  }

  .media {
    height: 0;
    padding-top: 225px /* 16:9 */
  }
  
  .description {
    max-height: 120px;
    overflow: hidden;
  }

  .actions {
    display: flex;
  }
  
  .expand {
    transform: rotate(0deg);
    margin-left: auto;
    transition: transform 0.1s
  }
  
  .expandOpen {
    transform: rotate(180deg);
  }
  
  .steps {
    max-height: 190px;
    overflow-y: scroll;
    padding-bottom: 0 !important;
  }
}