.mockButton {
  position: fixed !important;
  right: 30px;
  bottom: 30px;
}

.card {
  width: 400px;
  
  .infoContainer{
    width: 100%;
    padding: 40px 25px;
    box-sizing: border-box;

    .moreInfo{
      margin-top:190px;
    }

    .loading {
      display: block;
      margin: 110px auto;
    }

    .errorIcon {
      margin-top: 40px;
    }
  }
  
  .recipe {
    .avatar {
      background-color: red;
    }
  
    .media {
      height: 0;
      padding-top: 225px /* 16:9 */
    }
    
    .description {
      max-height: 120px;
      overflow: hidden;
    }
  
    .actions {
      display: flex;
    }
    
    .expand {
      transform: rotate(0deg);
      margin-left: auto;
      transition: transform 0.1s
    }
    
    .expandOpen {
      transform: rotate(180deg);
    }
    
    .steps {
      max-height: 190px;
      overflow-y: scroll;
      padding-bottom: 0 !important;
      margin-bottom: 25px;
    }
  }
}