.header {
  background-color: #EEE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 70px;
  box-sizing: border-box;
}
