
.mockButton {
  width: 100%;
  padding: 0 20px 40px 20px;
  box-sizing: border-box;

  .main {
    display: flex;
    align-items: flex-end;


    button {
      margin-left: 25px;
    }

    .textField {
      flex-grow: 1;
      margin-bottom: 0;
    }
  }

  .secondary {
    button {
      font-size: 0.5em;
    }

  }
}



